<h1>Data Structure and Algorithms</h1>
<div class="links" style="margin-left: 100px">
	{{#link-to "dsa.stacks"}}
        Stacks
      {{/link-to}}
      {{#link-to "dsa.queues"}}
        Queues
      {{/link-to}}
</div>
<p><li style="margin-left: 100px">Stacks</li></p>
<p><li style="margin-left: 100px">Queues</li></p>
<p><li style="margin-left: 100px">Linked List</li></p>
<p><li style="margin-left: 100px">Binary Tree</li></p>
<p><li style="margin-left: 100px">Binary Search Tree</li></p>
<p><li style="margin-left: 100px">Heap</li></p>
<p><li style="margin-left: 100px">Hashing</li></p>
<p><li style="margin-left: 100px">Graph</li></p>

