<div class="jumbo">
  <h2 style="text-align: center;">Welcome to Acadbit!</h2>
  <p>Welcome to Acadbit.</p>
  <p>Acadbit is computer science portal founded by Vinay Somawat, student of Department of Computer Science and Engineering, National Institute of Technology, Warangal.</p>
</div>